*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* width: 1440px; */
    background-color: hsl(233, 36%, 81%);
    
}

.container-card{
    background-color: green;
    width: 960px;
    margin: 120px auto 0 auto  ;
    display: flex;
    flex-flow: row nowrap;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    
}

/* SECCION CARD IZQUIERDA  */
.card-section-left{
    margin-left: 2rem;
    margin-right: 3rem;
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    justify-content: center;
    text-align: left;
    
}
    .section-left-textOne h1{
        font-family: 'Inter', sans-serif;
        font-size: 1.9rem;
        font-weight: 700;
        margin-bottom: 2rem;
        color:hsl(0, 0%, 100%)
    }   
    .section-left-textOne p{
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.75);
    }

    .section-left-textTwo{
        display: flex;
        flex-direction: row;
        margin-top: 3rem;
        width: 100%;
        justify-content: space-between;
        /* align-items: center; */
    }
        .textTwo-box {
          font-size: 0.8rem;
          
        }
        .textTwo-box h2 {
            font-family: 'Inter', sans-serif;
            font-size: 1rem;
            font-weight: 700;
            color:   hsl(0, 0%, 100%);
            margin-bottom: 2px;

        }
        .textTwo-box p {
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            color: hsla(0, 0%, 100%, 0.75);
            letter-spacing: 1px;
        }

/* SECCION CARD DERECHA  */
.card-section-right{
    width: 100%;
    background-color: blueviolet;
    
}   
.card-section-right-img{
    background-image: url(https://i.postimg.cc/KvbWxgYc/image-header-desktop.jpg);
    background-size: cover;
    /* width: 100%; */
    height: 350px;
    overflow: hidden;
    
   
}